.baby_shower img.event_img{width:unset;height:unset}.baby_flex img{display:flex;padding-bottom:10px}.baby_flex{display:flex;flex-wrap:wrap}@media screen and (max-width:400px){}@media screen and (max-width:900px){.navbar-expand-md{max-width:100%!important}}