    .square {
        padding: 14px;
        border-radius: 4px;
        width: 160px;
        height: 160px;
      }
    .circle {
      border-radius: 100% !important;
    }
    .moon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 15px 15px 0 0 black;
    }
    .red {
      background: #FF5551 !important;
    }
    .yellow {
      background: #FFFF43 !important;
    }
    .green {
      background: #A6F140 !important;
    }

.video-slider{
  margin-top: 120px;
  margin-bottom: 120px;
}

/*================ Slick Slider Theme ================*/
.slick-loading .slick-list {
  background: #fff var(--slick-img-url) center center no-repeat; }

/*.slick-prev,*/
/*.slick-next {*/
/*  position: absolute;*/
/*  display: block;*/
/*  height: 20px;*/
/*  width: 20px;*/
/*  line-height: 0px;*/
/*  font-size: 0px;*/
/*  cursor: pointer;*/
/*  background: transparent;*/
/*  color: transparent;*/
/*  top: 50%;*/
/*  -webkit-transform: translate(0, -50%);*/
/*  -ms-transform: translate(0, -50%);*/
/*  transform: translate(0, -50%);*/
/*  padding: 0;*/
/*  border: none;*/
/* }*/
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    background: transparent;
    color: black; }
    
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    /*font-family: "slick-icons, sans-serif";*/
    font-size: 20px;
    line-height: 1;
    color: #000;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    button.drag.dogarrow1.slick-prev.pull-left.slick-arrow {
      background: #00000042;
      color: white;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: navajowhite;
      font-size: 22px;
      position: absolute;
    top: 50%;
    left: -50px;
    bottom: 0;
    z-index: 1;
  }
  button.drag.dogarrow2.slick-next.pull-right.slick-arrow {
    background: #00000042;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: navajowhite;
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: -48px;
}

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: 0; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

    .container016{
      max-width: 1530px;
      width: 100%;
    }
    .video-slider{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    video.bgv {
      border-radius: 10px;
  }
  /* video.bgv {
    width: 296px !important;
    margin: auto;
} */
figcaption {
  align-items: center;
  background: #eaeaea;
  grid-gap: 1rem;
  grid-template-columns: 50px auto min(115px);
  padding: .5rem;
}

button {
  border: 0;
  background: #e52e71;
  display: inline;
  color: white;
  order: 1;
  padding: .5rem;
  transition: opacity .25s ease-out;
  width: 100%;
}
button:hover {
  cursor: pointer;
  opacity: .8;
  background: #a2783a;
}

label {
  order: 2;
  text-align: center;
}

/* Fallback stuff */
progress[value] {
  border: none;
  border-radius: 3px;
  display: inline;
  height: 5px;
  order: 1;
  position: absolute;
  width: 100%;
  /* top: -17px; */
  bottom: 5px;
  left: 0;
  /* transform: translate(5%,-50%); */
}

/* WebKit styles */


/* Firefox styles */

figure {
 width: 96%;
 margin: auto !important;
}

video {
  display: block;
  width: 100%;
}

figcaption {
  align-items: center;
  background: transparent;
  height: 0;
  padding: 0;
  position: relative;
}

button {
  border: 0;
  background: #e52e71;
  display: inline;
  color: white;
  order: 1;
  padding: 0.5rem;
  transition: opacity 0.25s ease-out;
  width: 100%;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

label {
  order: 2;
  text-align: center;
}
 /* video::-webkit-media-controls {
  display: none;
}  */
video::-webkit-media-controls-play-button {
  display: none;
}
video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}
/* video::-webkit-media-controls-timeline {
  display: none;
} */
progress[value]::-webkit-progress-bar {
  background-color: "green";
}
@media only screen and (max-width: 768px) {
    .video-slider{
        margin-top: 50px;
        margin-bottom: 50px;
    }
	.colum {
		width: 100%;
	}
	.counter-box{
		display: block;
	}
	.service-box {
		width: 48%;
	}
	a.common-button {
		font-size: 22px;
	}
	.overview-content {
		max-width: 100%;
	}
	.collection-image {
		width: 100%;
	}
	.collection-form.pt-5.text-center {
		width: 100%;
	}
	.content {
		width: 100%;
	}
	.map {
		width: 100%;
	}
	.hero-section {
		padding-bottom: 2%;
	}
	.hero-content {
		padding-top: 10%;
	}
	.service-section {
		margin-top: 40px;
	}
	.secction-button {
		padding-top: 10px;
	}
	.service-wrapper {
		padding-top: 15px;
	}
	
}
@media only screen and (max-width: 576px){
	.service-box {
		width: 100%;
	}
	.hero-content {
		max-width: 100%;
	}
	.hero-content h2 {
		font-size: 20px;
		
	}
}
.testim .slick-next ,.testim .slick-prev{ 
  background: #00000042;
}
.testim .slick-next:before{
  content: "\e628";
  color: white;
}
.testim .slick-prev:before{
  content: "\e629";
  color: white;
}
.testim .slick-prev {
  left: 13px;
  top: 105%;
  width: 35px;
  height: 35px;
}
.testim .slick-next {
  right: 13px;
  top: 105%;
  width: 35px;
  height: 35px;
}