    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <footer class="main-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-30">
                    <div class="item abot">
                        <div class="logo mb-20">
                            <!-- <img src="images/logo-light.png" alt=""> -->
                            <h2>Happy Event</h2>
                        </div>
                        <p>we care about peoples  happiness!</p>
                        <div class="social-icon">
                            <a href="index.html"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="index.html"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="index.html"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="index.html"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 offset-md-1 mb-30">
                    <div class="item usful-links">
                        <div class="fothead">
                            <h6>Useful Links</h6>
                        </div>
                        <ul>
                              <li><i class="ti-angle-right"></i> <a href="services.html">Categories</a></li>
                            <li><i class="ti-angle-right"></i> <a href="services.html">Service</a></li>
                            <li><i class="ti-angle-right"></i> <a href="portfolio.html">Videos</a></li>
                            <li><i class="ti-angle-right"></i> <a href="index.html">Gallery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Get in touch</h6>
                        </div>
                        <p>7600464414</p>
                        <p>9714779996</p>
                        <p>9974727717</p>
                        <p>happyeventsurat@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Location</h6>
                        </div>
                        <p>Silver Business Point, 21, Green Rd, Uttran, Surat, Gujarat 394105A</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="text-left">
                            <p>© 2021, Happy Event. All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right-left">
                            <p><a href="#">Terms &amp; Conditions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>