body {
  padding: 5px;
}

/* custom css start */
.Polaris-Page2 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}
.clsdisflex.Polaris-Page-Header__Row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  align-items: end;
      margin-left: 14px;

}

.clszonetitle.Polaris-Header-Title {
  font-size: 20px;
     color: #212b36;
  font-weight: 500;
}
.clsbtnleft.Polaris-Breadcrumbs__Breadcrumb {
  padding-left: 17px;
}
.clsarrow.Polaris-Page-Header__BreadcrumbWrapper {
  margin-right: 20px;
}
.clswidth.Polaris-Page-Header__TitleWrapper {
  width: 70%;
}
.clsdisabe.Polaris-Select__SelectedOption {
  display: none;
}
.Polaris-Page2 .Polaris-Label__RequiredIndicator:after {
  color: red;
  content: "*";
  margin-left: var(--p-space-1);
}
button.clsbtnleft.Polaris-Breadcrumbs__Breadcrumb {
  border: none;
}
/* custom css end */

/* cls007 start 6/6/2022 */
.zonset_container .Polaris-Layout__AnnotationWrapper{  
  align-items: center;
}
.zonset_container {
  margin-top: 3%;
}
.clszonetitle.Polaris-Header-Title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 5%;
}
.clstogflex{
  display: flex;
  flex-wrap: wrap;
}
.clstogflex .zapietAvatar img{
  border-radius: 50%;
  height: 52px;
  width: 52px;
}
.clsdogfile.Polaris-Page-Header__Row{
    margin-bottom: 20px;
}
.clsstucture {
  margin-top: 20px;
}
.zonset_container .Polaris-Layout{
  margin-top: 0px;
  margin-left: 0px;
}
@media only screen and (max-width: 900px) {
.article_contain .Polaris-Stack.Polaris-Stack--alignmentBaseline {
  display: flex;
}
.article_contain .Polaris-Heading {
  width: 50%;
}
.article_contain .btnadd {
  width: 50%;
  text-align: end;
}
.article_contain .allist {
  margin-right: 0px;
}
}
@media only screen and (max-width: 800px) {
.clscorner{
 width: 800px;
}
.clsoverflow{
  overflow: scroll;
}
}
@media only screen and (max-width: 600px) {
 .article_contain .Polaris-Stack .btnadd {
    margin-left: 0px;
}

}
/* cls007 end  6/6/2022 */

.clsdisflex .Polaris-Breadcrumbs__Breadcrumb:after {
    border: 1px solid #c4cdd5;
    padding: 14px;
        left: -4px;
}
.clszonetitle.Polaris-Header-Title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5%;
}
.clsdisflex .Polaris-Breadcrumbs__Breadcrumb{
            border: none;
}
